h1 {
  color: red;
  text-transwform: uppercase;
}
h1 span {
  color: blue;
  font-size: 150%;
  cursor: pointer;
}
h1 span:hover {
  color: red;
}
@media screen and (max-width: 900px) {
  h1 span {
    color: green;
  }
}